/* HEADER */

header {
  /* height: 80px; */
  background-color: #3161E0;
  line-height: 80px;
  color: white;
}

.menu {
  width: calc(100% - 197px);
}

nav li {
  display: inline-block;
  margin: 0 15px;
}

nav li a {
  color: white;
}

nav li a:hover {
  text-decoration: underline;
}

/* JUMBOTRON */

.jumbotron {
  height: 500px;
  padding: 80px;
  color: white;
  background-image: url('../assets/img/jumbo.png');
  background-size: cover;
  background-position: center;
}

.jumbotron .content {
  width: 800px;
  margin: 0 auto;
  /* text-align: center; */
}

.jumbotron h1 {
  font-size: 46px;
  margin-bottom: 40px;
}

.jumbotron p {
  font-size: 19px;
  line-height: 30px;
  margin-bottom: 20px;
}

.jumbotron .content .btn:first-of-type{
  margin-right: 20px;
}

.jumbotron .content .btn:first-of-type i{
  font-size: 16px;
}

/* MAIN */

main {
  padding-top: 30px;
}

.text-col {
  padding-left: 40px;
  text-align: justify;
}

.text-col p, .text-col h2 {
  padding: 40px;
}

.text-col h2 {
  font-size: 40px;
}

main h3 {
  font-weight: 700;
  background-image: url('../assets/img/stars.svg');
}

/* FOOTER */

footer {
  background-color: #23272a;
  color: white;
  padding-bottom: 100px;
}

.footer-col {
  width: calc(100% / 6);
}

.footer-col:first-of-type {
  width: calc(100% / 3); 
}

footer li {
  margin: 15px;
}

footer .container {
  padding-top: 80px;
}

footer ul li:first-of-type, footer h3 {
  color: #7086d6;
}

hr {
  color: #7086d6;
  background: #7086d6;
  border: 0;
  height: 1px;
  margin-bottom: 40px;
}

.register-btn .btn {
  background-color: #8ea1e1;
  color: white;
  font-weight: 600;
}

.register-btn {
  position: absolute;
  right: 0;
}

footer h3 {
  font-size: xx-large;
}

.place, .language, .brands {
  margin: 25px;
}

footer i {
  margin-right: 20px;
}

#ita {
  transform: scale(0.5);
}

.box {
  text-align: center;
}
