/* GENERAL */

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

/* UTILITIES */

.container {
  width: 80%; 
  margin: 0 auto;
}

/* BODY */

.odd {
  background-color:aqua;
  height: 80vh;
}

.even {
  background-color: yellowgreen;
  height: 80vh;
}

header {
  height: 100px;
  background-color: red;
}